.books {
  padding: 3rem;
  background-color: rgb(249 247 247);
  flex: 1;
}

.form-hr {
  margin: 20px;
  border: solid 1px #e8e8e8;
}

.author {
  min-width: 28rem;
  min-height: 2.813rem;
  margin-right: 20px;
  border: none;
}

.form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8em;
}

.form-title {
  flex: 1;
  padding: 0.4em;
  border: #888;
}

.form button {
  background-color: #0290ff;
  color: #fff;
  min-width: 11.5rem;
  min-height: 2.063rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
